@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.roboto-font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

html,
body {
    height: 100%;
    width: 100%;
}



.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 0 10px; */
    height: 70px;
    background-color: #1f2937;
    color: white;
}

.logo {
    font-weight: bolder;
    font-size: large;
}

ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

a {
    text-decoration: none;
    color: white;
}

.hero {
    background-color: #1f2937;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 100px; */
    color: white;
}

.hero-text {
    margin: 10px;
}

button {
    padding: 10px;
    background-color: rgb(75, 162, 191);
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

.hero-2-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    padding-bottom: 20px;
    font-size: 28px;
    font-weight: 900;
}

.img-blocks {
    display: flex;
    /* gap: 20px; */
    justify-content: space-evenly;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    padding: 25px;
}